@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --clr--gradient-white: hsl(0, 0%, 100%);
  --clr--gradient-soft-white: hsl(0, 100%, 98%);
  --clr--gradient-desatured-pink: hsl(0, 80%, 86%);
  --clr--gradient-soft-pink: hsl(0, 74%, 74%);

  --clr--neutral-grayish-red: hsl(0, 6%, 24%);

  --clr--primary-desatured-red: hsl(0, 36%, 70%);
  --clr--primary-soft-red: hsl(0, 93%, 68%);
  
  --ff--primary: 'Josefin Sans', sans-serif;
  --fw--light: 300;
  --fw--regular: 400;
  --fw--semi-bold: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  font-family: var(--ff--primary);
  background: linear-gradient(135deg, var(--clr--gradient-white), var(--clr--gradient-soft-white));
}

.container {
  max-width: 375px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.container header {
  padding: 3.5rem;
}

.container section img {
  max-width: 375px;
}

section {
  margin-bottom: 2rem;
}

main {
  text-align: center;
  padding: 3.5rem;
}

.title-primary {
  font-size: 4.5rem;
  font-weight: var(--fw--light);
  color: var(--clr--primary-desatured-red);
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.title-span {
  font-size: 5rem;
  font-weight: var(--fw--semi-bold);
  color: var(--clr--neutral-grayish-red);
}

.text-primary {
  font-weight: var(--fw--regular);
  color: var(--clr--primary-desatured-red);
  line-height: 1.6;
  margin-bottom: 3.5rem;
}

main .input-container {
  position: relative;
  border: 2px solid var(--clr--primary-desatured-red);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 3.5rem;
}

main .input-container.error::after {
  content: "Please provide a valid email";
  position: absolute;
  color: var(--clr--primary-soft-red);
  bottom: -30px;
  left: 20px;
}

main .input-container input {
  flex: 1;
  padding: 10px 0 10px 20px;
  background: transparent;
  border: none;
}

main .input-container input::placeholder {
  opacity: .6;
  font-weight: var(--fw--semi-bold);
  color: var(--clr--primary-desatured-red);
}

main .input-container > img {
  width: 25px;
  height: 25px;
  margin: 0 8px;
  display: none;
  opacity: 0;
}

main .input-container .img-error {
  display: block;
  opacity: 1;
}

main .input-container button {
  cursor: pointer;
  width: 70px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(135deg, var(--clr--gradient-desatured-pink), var(--clr--gradient-soft-pink))
}

@media (min-width: 1440px) {
  body {
    background: url("./images/bg-pattern-desktop.svg") no-repeat left;
    background-size: cover;
    font-size: 1.9rem;
  }

  .container {
    max-width: none;
    display: flex;
    align-items: stretch;
  }


  .container .desktop-container {
    width: 100%;
    max-width: 60vw;
    height: 100%;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container .desktop-container .content {
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container .desktop-container .content main {
    text-align: left;
  }

  .container .desktop-container .content main p {
    line-height: 1.8;
  }

  .container header {
    padding: 3.5rem;
    margin-bottom: auto;
  }
  
  .title-primary {
    font-size: 7rem;
    letter-spacing: 15px;
  }

  .title-span {
    font-size: 7.5rem;
  }

  .container section img {
    display: none;
    visibility: hidden;
  }

  main .input-container input::placeholder {
    font-size: 1.9rem;
    font-weight: var(--fw--regular);
  }

  main .input-container input {
    font-size: 1.8rem;
    padding: 15px 0 15px 30px;
  }

  main .input-container::after {
    bottom: -30px;
    left: 30px;
  }

  main .input-container button {
    width: 120px;
    height: 60px;
  }

  main .input-container button img {
    width: 17px;
    height: 22px;
  }

  .hero-desktop {
    flex: 1;
    background: url("./images/hero-desktop.jpg") no-repeat;
    background-size: cover;
  }
}
